@{
    ViewBag.Title = "HomeView";
}

<div class="row">
    <div class="row-fluid">
        <div class="span4">
            <!-- Left Col Content -->
        </div>
        <div class="span8">
            <!-- Right Col Content -->
        </div>
  </div>
</div>
